/* 

.first-color { 
	background: #c54c82; 
}
	
.second-color { 
	background: #ec729c; 
}

.third-color { 
	background: #f4aeba; 
}

.fourth-color { 
	background: #fdfdcb; 
} 

*/

#root {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  background-color: #c54c82;
  width: 100%;
  height: 100%;
}

.app-nav a {
  padding: 0px 20px 5px 20px;
  margin-right: 3px;
  background-color: #f4aeba;
  text-decoration: none;
  color: #fdfdcb;
  line-height: 1;
  vertical-align: middle;
  /* border-right: 2px solid #fdfdcb; */
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 6px;
}

.app-nav a:hover {
  color: rgb(139, 186, 194);
  background-color: #fdfdcb;
}

.app-link {
  color: #dafb61;
}

.order-table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #f4aeba;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #ec729c;
}

tbody tr:nth-child(even) {
  background-color: #f4aeba;
}

table {
  background-color: #f4aeba;
}
